{% load static %}
<script>

$(document).ready(()=>{

  $("#create_user").click((e) => {
    e.preventDefault()
    console.log("clicked")

    let username = $("#val-username").val()
    let email = $("#val-email").val()
    let age = $("#val-age").val()
    let loacation = $("#val-location").val()
    let phonenumber = $("#val-phonenumber").val()
    let nationality = $("#val-nationality").val()
    let country = $("#val-country").val()
    let room_id = $("#val-room").val()
    let csr = $("input[name=csrfmiddlewaretoken]").val()
  
  
    mydata = { user: username, email: email, age: age, loacation: loacation, phonenumber: phonenumber, nationality: nationality, room_id: room_id, csrfmiddlewaretoken: csr, country: country }
  
    $.ajax({
      url: "{% url 'booking' %}",
      data: mydata,
      method: "POST",
      datatype: "json",
      success: (data) => {
        if (data.data == "created") {
          alert("Reservation is sucessfull")
  
          var output = ''
          fetch("{% url 'Reservation_booking' %}")
            .then((resp) => resp.json()).then(function (data) {
              list = data
              for (var i in list) {
                output += `<tr>
                  <td class ="customerid" value="${list[i]["customer_details"]["id"]}">${list[i]["customer_details"]["id"]}</td>
                  <td>
                    <span class="editSpan user">${list[i]["customer_details"]["user"]}</span>
                    <input class="editInput user form-control input-sm" type="text" name="user" value="${list[i]["customer_details"]["user"]}" style="display: none;">
                </td>
                        <td>
                          <div class="progress" style="background: rgba(127, 99, 244, .1)">
                            <div class="progress-bar bg-primary" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                               </div>
                                </div>
                        </td>
              <td>${list[i]["customer_details"]["check_in"]}</td>
              <td>${list[i]["customer_details"]["check_out"]}</td>
              <td>${list[i]["room_id"]["room_name"]}</td>
              <td ><span class ="badge badge-primary">${list[i]["room_id"]["room_number"]}</span></td>
              <td>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-sm btn-primary editBtn" style="float: none;">Edit</button>
                    <button type="button" class="btn btn-sm btn-warning deleteBtn" style="float: none;">Delete</button>
                </div>
                <button type="button" class="btn btn-sm btn-success saveBtn" style="float: none; display: none;">Save</button>
                <button type="button" class="btn btn-sm btn-danger confirmBtn" style="float: none; display: none;">Confirm</button>
            </td>
            
            </tr>`
              }
              $("#userData").html(output);
              $('form')[1].reset();
  
            })
        }
        if (data.data == "error") {
          alert("Form cant submitted")
        }
      }
  
    })
  
  
  
  
  })

});





$(document).ready(() => {
  let csr = $("input[name=csrfmiddlewaretoken]").val()


  $('.editBtn').on('click', function () {
    //hide edit span
    $(this).closest("tr").find(".editSpan").hide();

    //show edit input
    $(this).closest("tr").find(".editInput").show();

    //hide edit button
    $(this).closest("tr").find(".editBtn").hide();

    //show edit button
    $(this).closest("tr").find(".saveBtn").show();

  });

  $('.saveBtn').on('click', function () {
    var trObj = $(this).closest("tr");
    console.log(trObj)
    var ID = $(this).closest("tr").attr('id');
    var url_name = "{% url 'customer_update_delete' id=1234 %}".replace(/1234/,ID);

    var inputData = $(this).closest("tr").find(".editInput").serialize();
    $.ajax({
      method: 'PUT',
      url: url_name,
      dataType: "json",
      headers: { "X-CSRFToken": csr, },
      data: inputData,
      success: function (response) {

        if (response.id == ID) {

          trObj.find(".editSpan.user").text(response.user);


          trObj.find(".editInput.user").text(response.user);


          trObj.find(".editInput").hide();
          trObj.find(".saveBtn").hide();
          trObj.find(".editSpan").show();
          trObj.find(".editBtn").show();
        } else {
          alert(response.msg);
        }
      }
    });
  });

  $('.deleteBtn').on('click', function () {
    //hide delete button
    $(this).closest("tr").find(".deleteBtn").hide();

    //show confirm button
    $(this).closest("tr").find(".confirmBtn").show();

  });

  $('.confirmBtn').on('click', function () {
    var trObj = $(this).closest("tr");
    var ID = $(this).closest("tr").attr('id');
    var url_name = "{% url 'customer_update_delete' id=1234 %}".replace(/1234/,ID);
    alert(url_name)
    $.ajax({
      type: 'DELETE',
      url: url_name,
      headers: { "X-CSRFToken": csr, },
      dataType: "json",
      data: 'action=delete&id=' + ID,
      success: function (response) {
        if (response == null) {
          trObj.remove();
          console.log("data delete")
        } else {
          trObj.find(".confirmBtn").hide();
          trObj.find(".deleteBtn").show();
          alert("Cant allow");
        }
      }
    });
  });


})



</script>

 
  <script>
      var owl = $('.owl-carousel');
  owl.owlCarousel({
      loop:true,
      nav:false,
      margin:null,
      dots:false,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:1
          },            
          960:{
              items:2
          },
          1200:{
              items:2
          }
      }
  });
  owl.on('mousewheel', '.owl-stage', function (e) {
      if (e.deltaY>0) {
          owl.trigger('next.owl');
      } else {
          owl.trigger('prev.owl');
      }
      e.preventDefault();
  });
  
  </script>


  <script>
  

$(document).ready(()=>{

$(".booknow").click(function(){
let a =$(this).val();


$("#val-room").find("option").each(function(index,element){

  if (a === element.text){
    $(this).prop("selected", true);
    $(window).scrollBy(0,50);
  }



})


});

});
   
  </script>


<script>
  $(document).ready(function () {
    $('#table').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });

  

</script>



<script src="{% static 'assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'js/plugins-init/bs-daterange-picker-init.js' %}"></script>

<script src="{% static 'assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
 <script src="{% static 'assets/plugins/jquery-steps/build/jquery.steps.min.js' %}"></script>
 <script src="{% static 'assets/plugins/jquery-validation/jquery.validate.min.js'%}"></script>
 <!-- Form validate init -->
 <script src="{% static 'js/plugins-init/jquery.validate-init.js' %}"></script>

 <script src="{% static 'js/plugins-init/material-date-picker-init.js' %}"></script>

<script>

  var dateString ='02/15/2015 08:02:00 AM';
  var dateStart = new Date(Date.parse(dateString, "mm/dd/yyyy hh:mm:ss"));
  $('#dateTimeStart').daterangepicker('setDate', dateStart);
</script>
