{% extends '../base.html' %}
{% load static %}
{% load roomcount %}
{% block content %}

<link rel="stylesheet" href="{% static 'assets/plugins/datatables/css/jquery.dataTables.min.css' %}">
<link href="{% static 'assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css'%}" rel="stylesheet">


<div class="content-body">
    <div class="container-fluid">


        <div class="row">
            <div class="col-12">
                <h3 class="content-heading">Booking and Reservation</h3>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row counter-wrapper">
                            <div class="col-sm-3 col-6">
                                <div class="card-body text-center">
                                    <h4 class="counter">{% total_room %}</h4>
                                    <span>Total Rooms</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card-body text-center">
                                    <h4 class="counter">{% available_rooms %}</h4>
                                    <span>Available Rooms</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card-body text-center">
                                    <h4 class="counter">{% booked_rooms %}</h4>
                                    <span>Booked Rooms</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card-body text-center">
                                    <h4 class="counter">{% on_cleaning_rooms %}</h4>
                                    <span>On Cleaning Rooms</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if av_room %}

            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h3 class="content-heading">Available Room</h3>
                    </div>
                </div>
                <div class="card tickercontainer">
                    <div class=" card-body px-1 mt-2">
                        <ul class="owl-carousel">

                            {% for room in av_room %}
                            <li data-update="item1">
                                <div class="card horizontal-card__menu  horizontal">
                                    <span class="ribbon ribbon__one vertical-card__menu--status">Available <em
                                            class="ribbon-curve"></em></span>
                                    <div class="horizontal-card__menu--image">
                                        <img src="{{ room.image.url }}" alt="menu">
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <h4 class="horizontal-card__menu--title room_number">{{room.room_name}}</h4>
                                            <div class="horizontal-card__menu--fav">
                                                <a href="javascript:void()"><i class="fa fa-heart-o"></i></a>
                                            </div>
                                        </div>
                                        <p class="mb-2">{{room.room_description}}r</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4 class="horizontal-card__menu--price">
                                                Rs.<span>{{room.price_pernight}}</span></h4>
                                            <div class="horizontal-card__menu--rating c-pointer">
                                                <span class="icon"><i class="fa fa-star"></i></span>
                                                <span class="icon"><i class="fa fa-star"></i></span>
                                                <span class="icon"><i class="fa fa-star"></i></span>
                                                <span class="icon"><i class="fa fa-star"></i></span>
                                                <span class="icon"><i class="fa fa-star-o"></i></span>
                                            </div>
                                        </div>
                                        <div
                                            class="horizontal-card__menu--footer d-flex justify-content-between align-items-center">
                                            <div class="vertical-card__menu--location">
                                                <div class="d-block">
                                                    <span class="icon"><i class="fa fa-map-marker"></i></span>
                                                    {{room.room_type}}
                                                </div>
                                                <div>
                                                    <span class="icon"><i class="fa fa-bed"></i></span>
                                                    <span>{{room.booking_timeframe}}</span>
                                                    <span class="icon ml-2"><i class="fa fa-person"></i></span>
                                                    <span>{{room.max_person}}</span>
                                                </div>
                                            </div>
                                            <div class="vertical-card__menu--button">
                                                <button value="{{room.room_name}}" class="btn btn-rounded booknow">Book
                                                    Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                
            </div>
            {%  endif %}

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Customer details</h4>
                       
                        <div class="form-validation">
                            <form class="form-valide" id="myform">
                                <div class="row">
                                    <div class="col-xl-6">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Username <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-username"
                                                    name="val-username" placeholder="Enter a username..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-email">Email <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-email" name="val-email"
                                                    placeholder="Your valid email..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-age">Age <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-age" name="val-age"
                                                    placeholder="Enter your age ...">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-location">Location <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-location"
                                                    name="val-location" placeholder="Enter your location..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-phonenumber">Phone Number
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-phonenumber"
                                                    name="val-phonenumber" placeholder="Enter your phone number..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-Nationality">Nationality
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input class="form-control" id="val-nationality" name="val-Nationality"
                                                    rows="5" placeholder="What's your nationality">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-country">Country <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input class="form-control" id="val-country" name="val-Nationality"
                                                    rows="5" placeholder="What's your Country">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-room">Avaibale Rooms <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <select class="form-control" id="val-room" name="val-room">
                                                    <option value="" selected>Please select</option>
                                                    {% for room in av_room %}
                                                    <option class="room_value" value="{{room.id}}">{{room.room_name}}
                                                    </option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        


                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-phonenumber">Check In Date Time
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" id="date-format" class="form-control" placeholder="Saturday 24 June 2017 - 21:44">
                                            </div>
                                        </div>



                                        <div class="form-group row">
                                            
                                            <label class="col-lg-4 col-form-label"><a href="javascript:void()">Terms
                                                    &amp; Conditions</a> <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-5">
                                                <label class="css-control css-control-primary css-checkbox"
                                                    for="val-terms">
                                                    <input type="checkbox" class="css-control-input mr-2" id="val-terms"
                                                        name="val-terms" value="1">
                                                    <span class="css-control-indicator"></span> I agree to the
                                                    terms</label>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button id='create_user' type="submit" value="validate"
                                                    class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                        

                            </form>
                    </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xl-6 col-xxl-12">
            <div class="card">
                <div class="card-body" id="card_body_test">
                    <div id="jsGrid-basic">
                        <h4 class="card-title">Bordered Table</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered verticle-middle table-responsive-sm " id="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Progress</th>
                                        <th scope="col">Checkin Date </th>
                                        <th scope="col">Checkout Date </th>
                                        <th scope="col">Room Name</th>
                                        <th scope="col">Room number</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="userData">
                                    {% csrf_token %}
                                    {% for customer in customers %}
                                    <tr id="{{customer.customer_details.id}}">
                                        <td class="customerid" value="{{customer.customer_details.id}}">
                                            {{customer.customer_details.id}}</td>

                                        <td>
                                            <span class="editSpan user ">{{customer.customer_details.user}}</span>
                                            <input class="editInput form-control" type="text" name="user"
                                                value="{{customer.customer_details.user}}" style="display:none;border:none; padding:unset;color:" >
                                        </td>

                                        <td>
                                            <div class="progress"
                                                style="background: rgba(127, 99, 244, .1); height:8px;">

                                                <div class="progress-bar progress-bar-striped bg-primary"
                                                    style='width:{{customer.customer_details.totaldays_stayed }}%;'
                                                    aria-valuenow="{{customer.customer_details.totaldays_stayed}}"
                                                    role="progressbar" aria-valuemin="0" aria-valuemax="100"><span
                                                        class="sr-only"></span>

                                                </div>
                                            </div>
                                        </td>


                                        <td>{{customer.customer_details.check_in}}</td>

                                        <td>{{customer.customer_details.check_out}}</td>
                                        <td>{{customer.room_id.room_name}}</td>
                                        <td><span class="badge badge-primary">{{customer.room_id.room_number}}</span>
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn btn-sm btn-primary editBtn"
                                                    style="float: none;">Edit</button>
                                                <button type="button" class="btn btn-sm btn-warning deleteBtn"
                                                    style="float: none;">Delete</button>

                                                    <button type="button" class="btn btn-sm btn-success saveBtn"
                                                    style="float: none; display: none;">Save</button>
                                                <button type="button" class="btn btn-sm btn-danger confirmBtn"
                                                    style="float: none; display: none;">Confirm</button>
                                            </div>
                                            
                                        </td>

                                    </tr>
                                    {% endfor %}




                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>






{% endblock content %}