{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Drora - Bootstrap Restaurant Admin Dashboard HTML Template</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png'%}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/plugins/owl.carousel/dist/css/owl.carousel.min.css' %}">
    <link href="{% static 'assets/plugins/fullcalendar/css/fullcalendar.min.css '%}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'assets/plugins/chartist/css/chartist.min.css ' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'icons/cryptocoins/css/cryptocoins-colors.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="localhost:8000" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="{% static 'assets/plugins/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/plugins/jsgrid/css/jsgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/jsgrid/css/jsgrid-theme.min.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    {% include "components/navheader.html" %}
    {% include "components/header.html"%}
    {% include "components/sidebar.html"%}

    {% block content %}
    
    
    
    {% endblock content %}

    {% include "components/footer.html"%}
  <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'assets/plugins/common/common.min.js '%}"></script>
    <script src="{% static 'js/custom.min.js '%}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/quixnav.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

    <!-- Datamap -->
    <script src="{% static 'assets/plugins/d3v3/index.js' %}"></script>
    <script src="{% static 'assets/plugins/topojson/topojson.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datamaps/datamaps.world.min.js' %}"></script>
    <!-- Calender -->
    <script src="{% static 'assets/plugins/jqueryui/js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'assets/plugins/fullcalendar/js/fullcalendar.min.js'%}"></script>
    <!-- ChartJS -->
    <script src="{% static 'assets/plugins/chart.js/Chart.bundle.min.js'%}"></script>
    <!-- MorrisJS -->
    <script src="{% static 'assets/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'assets/plugins/morris/morris.min.js' %}"></script>
    <!-- Owl carousel -->
    <script src="{% static 'assets/plugins/owl.carousel/dist/js/owl.carousel.min.js' %}"></script>
    <!-- Chartist -->
    <script src="{% static 'assets/plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>


    <!-- Init files -->
    <script src="{% static 'js/plugins-init/fullcalendar-init.js'%}"></script>
    <script src="{% static 'js/dashboard/dashboard-1.js'%}"></script>

    {% comment %} <script src = "{% static 'js/dashboard.js' %}"> </script> {% endcomment %}

        <!-- JS Grid Init -->
    <script src="{% static 'assets/plugins/jsgrid/js/jsgrid.min.js' %}"></script>
   
    <script src="{% static 'js/plugins-init/footable-init.js' %}"></script>
    <script src="{% static 'js/plugins-init/jquery.bootgrid-init.js'%}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js'%}"></script>
    
        <!-- Form step -->
    <script src="{% static 'assets/plugins/jquery-steps/build/jquery.steps.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/jquery.validate-init.js' %}"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{% static "assets/plugins/jquery.counterup/jquery.counterup.min.js" %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="{% static 'assets/plugins/webticker/jquery.webticker.min.js'%}"></script>
    {% include "ajax/registration_booking.html" %}
    <script src="{% static 'assets/plugins/webticker/jquery.webticker.min.js' %}"></script>
    <script src="{% static 'assets/plugins/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/jsgrid-init.js'%}"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $('#webTicker').webTicker();
    </script>
    <script>
        $(document).ready(function () {
            $('#orderTable').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#customer').DataTable();
        });
    </script>
   

</body>

</html>