{% extends 'base.html' %}

{% load static %}

{% block title %}Restrunt-Customer{% endblock title %}


{% block content %}
<div class="content-body">
    <div class="row justify-content-between mb-3">
        <div class="col-12 ">
            <h2 class="page-heading">Hi,Welcome Back!</h2>
            <p class="mb-0">Your restaurent admin template</p>
        </div>
    </div>
    <div class="row">

        {% for cus in customer %}
        <div class="col-sm-6 col-lg-4 col-xl-2 col-xxl-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{{ cus.qr_code.url }}" class="img-fluid img-thumbnail" alt="">
                        <h5 class="mt-4">{{cus.user}}</h5>
                        <p>{{cus.email}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h4 class="card-title">Customer</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="employees_wrapper" class="dataTables_wrapper">


                            <table id="customer" class="display dataTable" style="min-width: 845px" role="grid"
                                aria-describedby="employees_info">
                                <thead>
                                    <tr role="row">
                                        <th>user</th>
                                        <th>email</th>
                                        <th>age</th>
                                        <th>location</th>
                                        <th>Phone number</th>
                                        <th>nationality</th>
                                        <th>country</th>
                                        <th>check_in</th>
                                        <th>check_out</th>
                                        <th>qr_code</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cus in customer%}

                                    <tr class="odd" role="row">
                                        <td class="sorting_1" id="user_id" >{{cus.user}}</td>
                                        <td>{{cus.email}}</td>
                                        <td>{{cus.age}}</td>
                                        <td>{{cus.location}}</td>
                                        <td>{{cus.phone_number}}</td>
                                        <td>{{cus.nationality}}</td>
                                        <td>{{cus.country}}</td>
                                        <td>{{cus.check_in}}</td>
                                        <td>{{cus.check_out}}</td>
                                       

                                        <td><a href="{{cus.qr_code.url}}"><img src="{{cus.qr_code.url}}"
                                                    class="img-thumbnail" style="height: 40px;" alt=""> </a></td>
                                        <td><span>
                                            <a href="{% url 'customer_update' cus.id %}" class="mr-4 update_customer" ><i class="fa fa-pencil color-muted"></i> </a>
                                            <a href="{% url 'delete_customer' cus.id %}" data-toggle="tooltip"
                                                    data-placement="top" title="" data-original-title="Delete {{cus.user}}"><i
                                                        class="fa fa-close color-danger"></i></a></span>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>

                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}