<!DOCTYPE html>
<html>
 {% extends 'base.html' %}
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default users-content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="userData">
                       
                        <tr id="custome.id">
                            <td>customer.id</td>
                            <td>
                                <span class="editSpan fname">Customer.first_name</span>
                                <input class="editInput fname form-control input-sm" type="text" name="first_name" value="{{Customer.first_name}}" style="display: none;">
                            </td>
                            <td>
                                <span class="editSpan lname">Customer.last_name</span>
                                <input class="editInput lname form-control input-sm" type="text" name="last_name" value="{{customer.last_name}}" style="display: none;">
                            </td>
                            <td>
                                <span class="editSpan email">customer.email</span>
                                <input class="editInput email form-control input-sm" type="text" name="email" value="customerEmail" style="display: none;">
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-sm btn-default editBtn" style="float: none;"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button type="button" class="btn btn-sm btn-default deleteBtn" style="float: none;"><span class="glyphicon glyphicon-trash"></span></button>
                                </div>
                                <button type="button" class="btn btn-sm btn-success saveBtn" style="float: none; display: none;">Save</button>
                                <button type="button" class="btn btn-sm btn-danger confirmBtn" style="float: none; display: none;">Confirm</button>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   


{% endblock content %}

</body>
 
</html>