{% extends 'base.html' %}
{% load static %}
{% load roomcount %}
<link href="{% static 'assets/plugins/fullcalendar/css/fullcalendar.min.css'%}" rel="stylesheet">

{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="content-heading">Booking</h3>
            </div>

            
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row counter-wrapper">
                            <div class="col-sm-3 col-6">
                                <div class="card-body text-center">
                                    <h4 class="counter">{% total_room %}</h4>
                                    <span>Total Rooms</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card-body text-center">
                                    <h4 class="counter">{% available_rooms %}</h4>
                                    <span>Available Rooms</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card-body text-center">
                                    <h4 class="counter">{% booked_rooms %}</h4>
                                    <span>Booked Rooms</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card-body text-center">
                                    <h4 class="counter">{% on_cleaning_rooms %}</h4>
                                    <span>On Cleaning Rooms</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% if av_room %}

            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h3 class="content-heading">Available Room</h3>
                    </div>
                </div>
                <div class="card tickercontainer">
                    <div class=" card-body px-1 mt-2">
                        <ul class="owl-carousel">

                            {% for room in av_room %}
                            <li data-update="item1">
                                <div class="card horizontal-card__menu  horizontal">
                                    <span class="ribbon ribbon__one vertical-card__menu--status">Available <em
                                            class="ribbon-curve"></em></span>
                                    <div class="horizontal-card__menu--image">
                                        <img src="{{ room.image.url }}" alt="menu">
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <h4 class="horizontal-card__menu--title room_number">{{room.room_name}}</h4>
                                            <div class="horizontal-card__menu--fav">
                                                <a href="javascript:void()"><i class="fa fa-heart-o"></i></a>
                                            </div>
                                        </div>
                                        <p class="mb-2">{{room.room_description}}r</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4 class="horizontal-card__menu--price">
                                                Rs.<span>{{room.price_pernight}}</span></h4>
                                            <div class="horizontal-card__menu--rating c-pointer">
                                                <span class="icon"><i class="fa fa-star"></i></span>
                                                <span class="icon"><i class="fa fa-star"></i></span>
                                                <span class="icon"><i class="fa fa-star"></i></span>
                                                <span class="icon"><i class="fa fa-star"></i></span>
                                                <span class="icon"><i class="fa fa-star-o"></i></span>
                                            </div>
                                        </div>
                                        <div
                                            class="horizontal-card__menu--footer d-flex justify-content-between align-items-center">
                                            <div class="vertical-card__menu--location">
                                                <div class="d-block">
                                                    <span class="icon"><i class="fa fa-map-marker"></i></span>
                                                    {{room.room_type}}
                                                </div>
                                                <div>
                                                    <span class="icon"><i class="fa fa-bed"></i></span>
                                                    <span>{{room.booking_timeframe}}</span>
                                                    <span class="icon ml-2"><i class="fa fa-person"></i></span>
                                                    <span>{{room.max_person}}</span>
                                                </div>
                                            </div>
                                            <div class="vertical-card__menu--button">
                                                <button value="{{room.room_name}}" class="btn btn-rounded booknow">Book
                                                    Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                
            </div>
            {%  endif %}

        </div>


        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-intro-title">Avaibale Rooms</h4>

                        <div class="">
                            <div id="external-events" class="my-3">
                                <p>Drag and drop your event or click in the calendar</p>

                                {% if av_room %}
                                {% for room in av_room %}
                                <div class="external-event text-dark" data-class="bg-primary"><i class="fa fa-move"></i>{{room.room_name}}</div>
                                    
                                {% endfor %}
                                {% endif %}
                                </div>
                            <!-- checkbox -->
                            <div class="checkbox checkbox-event pt-3 pb-5">
                                <input id="drop-remove" class="styled-checkbox" type="checkbox">
                                <label class="text-dark ml-2 mb-0" for="drop-remove">Remove After Drop</label>
                            </div>
                            <a href="javascript:void()" data-toggle="modal" data-target="#add-category"
                                class="btn btn-primary btn-event w-100">
                                <span class="align-middle"><i class="ti-plus"></i></span>
                                Create New
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <div id="calendar" class="app-fullcalendar"></div>
                    </div>
                </div>
            </div>
            <!-- BEGIN MODAL -->
            <div class="modal fade none-border" id="event-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><strong>Add New Event</strong></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-valide" id="myform">
                                <div class="row">
                                    <div class="col-xl-12">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Username <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-username"
                                                    name="val-username" placeholder="Enter a username..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-email">Email <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-email" name="val-email"
                                                    placeholder="Your valid email..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-age">Age <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-age" name="val-age"
                                                    placeholder="Enter your age ...">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-location">Location <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-location"
                                                    name="val-location" placeholder="Enter your location..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-phonenumber">Phone Number
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-phonenumber"
                                                    name="val-phonenumber" placeholder="Enter your phone number..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-Nationality">Nationality
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input class="form-control" id="val-nationality" name="val-Nationality"
                                                    rows="5" placeholder="What's your nationality">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-country">Country <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input class="form-control" id="val-country" name="val-Nationality"
                                                    rows="5" placeholder="What's your Country">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-room">Avaibale Rooms <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <select class="form-control" id="val-room" name="val-room">
                                                    <option value="" selected>Please select</option>
                                                    {% for room in av_room %}
                                                    <option class="room_value" value="{{room.id}}">{{room.room_name}}
                                                    </option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        


                                   


                                        <div class="form-group row">
                                            
                                            <label class="col-lg-4 col-form-label"><a href="javascript:void()">Terms
                                                    &amp; Conditions</a> <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-5">
                                                <label class="css-control css-control-primary css-checkbox"
                                                    for="val-terms">
                                                    <input type="checkbox" class="css-control-input mr-2" id="val-terms"
                                                        name="val-terms" value="1">
                                                    <span class="css-control-indicator"></span> I agree to the
                                                    terms</label>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button id='create_user' type="submit" value="validate"
                                                    class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                        

                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect"
                                data-dismiss="modal">Close</button>
                            <button type="button" id="b_res"class="btn btn-success save-event waves-effect waves-light">Book Room</button>
                                
                            <button type="button" class="btn btn-danger delete-event waves-effect waves-light"
                                data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Add Category -->
            <div class="modal fade none-border" id="add-category">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><strong>Add a category</strong></h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Category Name</label>
                                        <input class="form-control form-white" placeholder="Enter name"
                                            type="text" name="category-name">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Choose Category Color</label>
                                        <select class="form-control form-white"
                                            data-placeholder="Choose a color..." name="category-color">
                                            <option value="success">Success</option>
                                            <option value="danger">Danger</option>
                                            <option value="info">Info</option>
                                            <option value="pink">Pink</option>
                                            <option value="primary">Primary</option>
                                            <option value="warning">Warning</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect"
                                data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger waves-effect waves-light save-category"
                                data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <h3 class="content-heading">JS Grid</h3>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div id="jsGrid-basic"></div>
                    </div>
                </div>            
            </div>
        </div>
        
    </div>
</div>


    </div>

</div>





{%  endblock %}
<script src="{% static 'assets/plugins/fullcalendar/js/fullcalendar.min.js' %}"></script>
