{% load static %}

<!--**********************************
            Sidebar start
        ***********************************-->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
            <li>
                <a class="has-arrow" href="#collapseExample" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample"   >
                    <i class="icon-speedometer"></i><span class="nav-text">Dashboard</span>
                </a>
                <ul class="collapse" id="collapseExample">
                    <li><a href="index.html">Admin Overview</a></li>
                    <li><a href="">Custommer Overview</a></li>
                    <li><a href="index-3.html">Employee Overview</a></li>
                    <li><a href="restaurant-menus.html">Menus</a></li>
                    <li><a href="restaurant-offers.html">Offer</a></li>
                    <li><a href="restaurant-reservation.html">Reservation</a></li>
                    <li><a href="restaurant-employees.html">Employees</a></li>
                    <li><a href="{% url  'customer' %}">Custommer</a></li>
                    <li><a href="{% url "order" %}">Order</a></li>
                    <li><a href="restaurant-packages.html">Packages</a></li>

                </ul>



            </li>


            <li>
                <a class="has-arrow" href="#collapseExample1" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample1"   >
                    <i class="icon-calender"></i><span class="nav-text">Reservation</span>
                </a>
                <ul class="collapse" id="collapseExample1" >
                    <li><a href="{% url 'booking' %}">Booking</a></li>
                    
                    <li><a href="{% url 'reservation' %}">Reservation</a></li>

                </ul>



            </li>



        </ul>
    </div>
</div>
<!--**********************************
            Sidebar end
        ***********************************-->