{% extends 'base.html' %}
{% load static %}

{% block title %} Order Management {% endblock title %}

{% block content %}
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="breadcrumb-range-picker">
                <span><i class="icon-calender"></i></span>
                <span class="ml-1">August 08, 2017 - August 08, 2017</span>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Components</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row justify-content-between mb-3">
            <div class="col-12 ">
                <h2 class="page-heading">Hi,Welcome Back!</h2>
                <p class="mb-0">Your restaurent admin template</p>
            </div>
            <div class="col-12 mt-4 ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% for field in form %}
                        <div class="form-group col-md-6">
                            {{field.label}} :
                            {{field}}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Create Kitchen Item</button>
                    </div>


                </form>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h4 class="card-title">Customer</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="employees_wrapper" class="dataTables_wrapper">


                            <table id="customer" class="display dataTable" style="min-width: 845px" role="grid"
                                aria-describedby="employees_info">
                                <thead>
                                    <tr role="row">
                                        <th>Item ID</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Categories</th>
                                        <th>Quantity</th>
                               
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cus in order %}

                                    <tr class="odd" role="row">
                                        <td class="sorting_1" id="user_id" >{{cus.id}}</td>
                                        <td>{{cus.product_name}}</td>                                        
                                        <td>{{cus.price}}</td>
                                        <td>{{cus.categories}}</td>
                                     
                                        <td>{{cus.qty}}</td>
                                       

                                        
                                        <td><span>
                                            <a href="{% url 'bar_item_update' cus.id %}" class="mr-4 update_customer" ><i class="fa fa-pencil color-muted"></i> </a>
                                            <a href="{% url 'bar_item_delete' cus.id %}" data-toggle="tooltip"
                                                    data-placement="top" title="" data-original-title="Delete {{cus.user}}"><i
                                                        class="fa fa-close color-danger"></i></a></span>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>

                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}