{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="breadcrumb-range-picker">
                <span><i class="icon-calender"></i></span>
                <span class="ml-1">August 08, 2017 - August 08, 2017</span>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Components</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row justify-content-between mb-3">
            <div class="col-12 ">
                <h2 class="page-heading">Hi,Welcome Back!</h2>
                <p class="mb-0">Your restaurent admin template</p>
            </div>
        </div>
        <div class="row">
          
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-body">


                        <h4 class="card-title mt-5">Update Customer</h4>
                        <div class="basic-form">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    {% for fields in form %}
                                    <div class="col-6">
                                        {{fields.label}}
                                        {{fields}}
                                    </div>
                                    {% endfor %}
                                    <div class="col-6 mt-4">
                                        <button type="submit" class="btn btn-success btn-ft">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>



                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

{% endblock content %}