
{% extends 'base.html' %}


{% block content %}




    <div class="col-12">
        <h3 class="content-heading">Update Booking and Reservation</h3>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Customer details</h4>
             
                <div class="form-validation">
                    <form class="form-valide" id="updateform">
                      <div class="row">
                            <div class="col-xl-12">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="up-hidden">id <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"  id="up-hidden" name="up-hidden" placeholder="id">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="up-username">Username <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"  id="up-username" name="up-username" placeholder="Enter a username..">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="up-email">Email <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="up-email" name="up-email" placeholder="Your valid email..">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="up-age">Age <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"  id="up-age" name="up-age" placeholder="Enter your age ...">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="up-location">Location <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"   id="up-location" name="up-location" placeholder="Enter your location..">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="up-phonenumber">Phone Number <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"  id="up-phonenumber" name="up-phonenumber" placeholder="Enter your phone number..">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="up-Nationality">Nationality <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input class="form-control" id="up-nationality"  name="up-Nationality" rows="5" placeholder="What's your nationality"> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="up-country">Country <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input class="form-control" id="up-country"   name="up-Nationality" rows="5" placeholder="What's your Country"> 
                                    </div>
                                </div>
                            </div>

                           
                        </div> 
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
   






{% endblock content%}